#banner {
  background:url('../images/floor-plan.jpg') no-repeat center center;
  min-height:100%;
  background-size:cover;
  padding: 80px 0px 50px 0px;
  font-size: x-large;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-family: 'Asap', sans-serif;

}

.border-between > [class*='col-']:before {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 1px;
 top: 0;
}