#banner {
  background:url('../images/floor-plan.jpg') no-repeat center center;
  min-height:100%;
  background-size:cover;
  padding: 80px 0px 50px 0px;
  font-size: x-large;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-family: 'Asap', sans-serif;
  margin-bottom: 25px;
}

#banner-phone {
  color: white;
  margin-right: -15px;
}

#banner-title {
  padding-right: 100px;
  font-size: 250%;
}

#banner-line-one {
  padding-right: 150px;
}

#head-shot {
  float: left;
  border-radius: 180px;
  height: 200px;
  margin: 0px 30px 15px 0px;
}

#about-text {
  padding-top: 40px;
}

.heading {
  font-family: 'Asap', sans-serif;
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: 120%;
}

footer {
  padding: 35px 0px 28px 0px;
  background-color: #75331D;
  font: #F0EAE9;
}

.contact {
  background-color: #67AAE0;
  padding: 5px 0px 10px 0px;
}

.info {
  padding: 15px 0px 15px 0px;
}

.info-columns {
  padding: 0px 15px 0px 15px;
}

hr { 
  display: block;
  margin: 5px 15px 5px 15px;
  border-style: inset;
  border-width: 2px;
}

.black-link {
  color: black;
  cursor: pointer;
}

